* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b0b0b;
  color: #fff;
  font-family: "Bebas Neue", cursive;
}

main {
  max-width: 100%;
  overflow: hidden;
}

li {
  list-style: none;
}
