.formsearch {
  display: flex;
  align-items: center;
  width: 65%;
}

.inputsearch {
  background-color: transparent;
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  border: none;
  outline: none;
}

.lupita {
  height: 20px;
}

.bordesearch {
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
  padding: 13px 20px;
  border-radius: 45px;
  width: 100%;
}
